:root {
  font-family: Inter, system-ui, Arial, sans-serif;
  color: #111;
  background: #0f1115; /* fundo escuro do app */
}

* { box-sizing: border-box; }

body { margin: 0; }

a { color: inherit; text-decoration: none; }

button, input, select {
  font: inherit;
}
